		<!-- Footer -->
			<div id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; mertes.it. All rights reserved</li><li>Design und Umsetzung: mertes.it</li><li><a href="{{ site.baseurl }}/About.html">Impressum</a></li>
						</ul>
					</div>

			</div>

	</body>
</html>
