<div id="sidebar">

	<!-- Sidebar -->
	<h3>Referenzen</h3>
<ul class="links">
	<li><a href="{{ site.baseurl }}/Referenzen.html#ref1">Metallurgisches Labor</a></li>
	<li><a href="{{ site.baseurl }}/Referenzen.html#ref2">Aufbau IT-Abteilung</a></li>
	<li><a href="{{ site.baseurl }}/Referenzen.html#ref3">Smart Home</a></li>
	<li><a href="{{ site.baseurl }}/Referenzen.html#ref4">Smart Factory</a></li>
	<li><a href="{{ site.baseurl }}/Referenzen.html#ref5">Web Präsenzen</a></li>
	<li><a href="{{ site.baseurl }}/Referenzen.html#ref6">DNC Fräsersteuerung</a></li>
	
	
	
	</ul>

	
</div>